*{
      margin: 0;
      padding: 0;
}
/* top section starts */
.top_section{
      width: 100%;
      display:flex;
}
.top_section_left h1 span{
      color: tomato;
}
.top_section_left{
      width: 50%;
}
.top_section_right{
      width: 50%;
}
.top_inner_section {
      width: 65%;
      padding: 111px;
}
.top_inner_section h1 {
      font-size: 44px;
      color: #b3adad;
}
.top_inner_section p {
      font-size: 20px;
      text-transform: capitalize;
      line-height: 26px;
      margin-bottom: 36px;
      margin-top: 30px;
}
.top_section_left a {
      text-decoration: none;
      background-image: linear-gradient(orange,tomato);
      padding: 12px 22px;
      color: white;
      font-weight: bold;
      border-radius: 20px;
}
/* top section ends */

/* about section starts */
.about_section_start{
      width: 100%;
      display: flex;
}
.about_left{
      width: 50%;
}
.about_left img{
      width: 50%;
      margin-left: 25%;
}
.about_right{
      width: 50%;
}
.about_inner_section {
      width: 60%;
      margin-top: 60px;
}
.about_inner_section h1 {
      text-transform: uppercase;
      font-size: 35px;
      word-spacing: 10px;
      color: rgb(62 61 61);
}
.about_inner_section p {
      text-transform: capitalize;
      text-align: justify;
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: 20px;
}
.about_inner_section a{
      text-decoration: none;
      background-image: linear-gradient(orange, tomato);
      padding: 13px 35px;
      color: white;
      font-weight: bold;
      border-radius: 20px;
      text-transform: uppercase;
}
.about_inner_section {
      width: 60%;
      margin-top: 0px;
      padding: 91px;
}
.about_section_start{
      background: url(./7.png);
      width: 100%;
      background-repeat: no-repeat;
      margin-top: 50px;
}
/* about section ends */


/* my recipies section starts */
.recipies {
      width: 50%;
      margin: auto;
}
.recipies h1 {
      text-align: center;
      margin-bottom: 15px;
      color: rgb(62 61 61);
}
.recipies p {
      text-align: center;
}
.recipies {
      margin-top: 59px;
}
/* my recipies section ends */


/* recipies section starts */
.recipies_section{
      width: 1000px;
      margin:auto;
      margin-top: 40px;
      display: flex;
}
.recipies_section_left{
      width: 500px;
}
.inner_recipies {
      width: 400px;
      padding: 17px;
      margin-left: 20px;
}
.inner_recipies img{
      width: 400px;
}
.inner_recipies h1 {
      padding: 10px 0;
      color: #545151;
}
.inner_recipies p {
      font-size: 19px;
      text-align: justify;
}
.inner_recipies {
      box-shadow: 0px 0px 17px black;
}
/* recipies section ends */

 /* middle section starts */
 .middle_section{
      width: 1000px;
      margin-top: 100px !important;
      margin: auto;
      display:flex;
 }
 .middle_section_inner{
      width: 300px;
      padding: 32px;
      text-align: center;
 }
 .middle_section_inner h1 {
       font-size: 42px;
       color: #444;
 }
 .middle_section_inner p {
       margin-top: 4px;
       color: #505050;
 }
 .middle_section {
       box-shadow: 0px 0px 10px black;
 }
 /* middle section ends */

/* footer section  */
footer{
      width: 100%;
      background-color: #6e6e6e;
      color: white;
      margin-top: 50px;
      padding: 30px;
            text-align: center;
}
footer h1 span {
      color: tomato;
}
/* footer section  */